@import "../../main";

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome .welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome .welcome-container img {
  width: 60%;
  background-color: red;
}

.welcome .welcome-container h2 {
    color: #4D4D4D; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.welcome {
    display: inline-block;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    30% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    30% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    30% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    30% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    30% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
  }